%textPreset1 {
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  font-size: 22px;
  list-style: 120%;
  letter-spacing: 0px;
}

%textPreset2 {
  font-family: 'Outfit', sans-serif;
  font-weight: normal;
  font-size: 15px;
  list-style: 140%;
  letter-spacing: 0.2px;
}