.card {
  width: 320px;
  height: 499px;
  background-color: white;
  border-radius: 20px;
  padding: $spacing200 $spacing200 $spacing500;
}

.card__image {
  display: block;
  width: 288px;
  height: 288px;
  border-radius: 10px;
  margin-bottom: $spacing300;
}

.card__text {
  padding-left: $spacing200;
  padding-right: $spacing200;

}

.text1 {
  @extend %textPreset1;
  text-align: center;
  margin-bottom: $spacing200;
}

.text2 {
  @extend %textPreset2;
  text-align: center;
}