@font-face {
  font-family: 'Outfit';
  src: local('Outfit'),
    url('Outfit.woff2') format('woff2'),
    url('Outfit.woff') format('woff'),
    url('Outfit.svg') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: 'Outfit';
  src: local('Outfit'),
    url('Outfit.woff2') format('woff2'),
    url('Outfit.woff') format('woff'),
    url('Outfit.svg') format('svg');
  font-weight: bold;
}